{% extends "juice/templates/index.html" %}
{% import "_macros2.html" as macros2 %}

{% block head %}
<link rel="stylesheet" href="{{ get_url(path="custom.css") }}">
<link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
{% endblock head %}

{% block fonts %}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
{% endblock fonts %}

{% block title %}{{ section.title }} | {{ super() }} {% endblock title %}

{% block header %}
{{ macros2::hide_logo_img() }}

<header class="box-shadow">
    {{ macros::render_header() }}
</header>
{% endblock header %}

{% block sidebar %}
{% endblock sidebar %}

{% block footer %}
{% endblock footer %}


{% block content %}
<div class="blog">
    <div id="features" class="heading-text">{{ section.title }}</div>
    {{ section.content | safe }}

    <hr/>


    {% for page in section.pages %}
        <article>
            <h2>{{page.date }} - <a href="{{ page.permalink }}">{{ page.title | safe }}</h2>
            <p>{{ page.summary }}</p>
        </article>
    {% endfor %}

</div>
{% endblock content %}
